<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
      <h1>Add meds</h1>

      <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="medicine name"/>
        <input type="text" name="count" placeholder="count"/>
        <input type="text" name="brand" placeholder="brand"/>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </body>
</html>