<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">MID</th>
                        <th scope="col">Medicine</th>
                        <th scope="col">Count</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tr>
                    {{#rows}}
                        <td>{{mid}}</td>
                        <td>{{name}}</td>
                        <td>{{count}}</td>
                        <td>{{brand}}</td>
                        <td>
                            <form action="/meds/delete/{{mid}}" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/meds/edit/{{mid}}">Edit</a>
                        </td>
                    </tr>
                    {{/rows}}
                </table>
            </div>
        </div>
      </div>  
      <table>
      </table>  
    </body>
</html>